<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 style="text-align: center">Forgot password</h1>
	<form action="/updatepassword" method="post">
		<fieldset>
			<legend>Forgot Password</legend>
			<br/>
			<label>Email : </label><input type="text" name="email" required/>
			<br/><br/>
			<label>New password : </label><input type="password" name="password" required/>
			<br/><br/>
			<input type="submit" value="Submit"/>
		</fieldset>
	</form>	
</body>
</html>