<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:each="usr:${User}" style="float: right; text-align: center; margin-top: 4px; margin-right: 30px">
		<p th:text="'Howdy, '+${usr.username}"></p>
		<a href="/map-loginPage"><button>Logout</button></a>
	</div>
	<div style="padding-top: 38px">
		<a href="/map-adminhome"><button>Home</button></a>
		<a href="/map-addsongs"><button>Add Songs</button></a>
		<a href="/readsongs"><button>View Songs</button></a>
		<a href="/createplaylist"><button>Create PlayList</button></a>
		<a href="/viewplaylist"><button>View PlayList</button></a>
	</div>
	<div style="padding-top: 50px">
		<h1 style="text-align: center">List of Playlist</h1>
		<table border="1" style="width:100%">
			<tr>
				<th>Playlist Name</th>
				<th>Playlist Songs</th>
				<th>Remove</th>
			</tr>
			<tr th:each="plylist:${playlist}">
				<td th:text="${plylist.name}"></td>
				<td>
					<ul th:each="song:${plylist.songs}" style="list-style-type: none">
						<li>
							<span th:text="${song.name}"></span>
							<br/>
							<audio controls>
								<source th:src="${song.link}" type="audio/mpeg">
							</audio>
						</li>
					</ul>
				</td>
				<td>
					<form action="/deleteplaylist" method="post">
						<input type="hidden" th:name="id" th:value="${plylist.id}"/>
						<input type="submit" value="Delete Playlist"/>
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>